html,
body {
  font-family: 'JetBrains Mono', Arial, Verdana, Tahoma, 'Trebuchet MS', 'Times New Roman', Georgia, 'Courier New', sans-serif;
  margin: 0;
  padding: 0;
  color: #cdd6f4;
  background-color: #1e1e2e;
}

.center60percent {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.footer {
  /* width: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  background-color: #11111b;
}

.footer>* {
  font-size: 1.5rem;
  color: #cdd6f4;
  margin-left: 4px;
  margin-right: 4px;
}

.profilePic {
  display: block;
  width: 15%;
  /* border-radius: 50%; */
  margin-left: auto;
  margin-right: auto;
}

.fa-home {
  color: #cdd6f4;
}

project-card {
  margin: 1px;
  padding: 1px;
  border: 2px white;
}
