.center60percent {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.profilePic {
  display: block;
  width: 15%;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
  color: #333;
}

.tag-button.active-tag {
  background-color: #4CAF50;
  /* Green */
  color: white;
}

.search-sort-container {
  display: flex;
  justify-content: space-between;
}