* {
  max-width: 100%;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.center60percent {
  width: 60%;
}

.profilePic {
  display: block;
  width: 15%;
  border-radius: 50%;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
  color: #333;
}